@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@import "tailwindcss";

@theme {
  --color-mygreen: #49b65b;
  --color-mygreen-50: #edf8ef;
  --color-mygreen-100: #dbf0de;
  --color-mygreen-200: #b6e2bd;
  --color-mygreen-300: #92d39d;
  --color-mygreen-400: #6dc57c;
  --color-mygreen-500: #49b65b;
  --color-mygreen-600: #3a9249;
  --color-mygreen-700: #2c6d37;
  --color-mygreen-800: #1d4924;
  --color-mygreen-900: #0f2412;
}